<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/vue-slider-component@3.2.15/theme/default.css">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700&display=swap" rel="stylesheet">
    <script defer src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script defer src="https://unpkg.com/vue-slider-component@3.2.15/dist/vue-slider-component.umd.min.js"></script>
    <script defer src="script.js"></script>
    <title>Exitus</title>
  </head>
  <body>
    <div class="sliders" id="app">
      <div class="title-card">
        Company:&nbsp;
        <input v-model="company" id="company" type="text">
        <div class="row">
          <div class="data">
          </div>
          <div class="cell">
            Your Data
          </div>
          <div class="example">
            Example Data
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            {{ company }} Sales
          </div>
          <div class="cell">
            $ {{ sales.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $1,200,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }} Profits
          </div>
          <div class="cell">
            $ {{ profits.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $225,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }} Addbacks
          </div>
          <div class="cell">
            $ {{ addbacks.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $30,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }}
            Seller's Discretionary Earnings
          </div>
          <div class="cell">
            $ {{ discretionary.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $255,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Taxes
          </div>
          <div class="cell">
           &nbsp;{{ percent(taxes) }}%
          </div>
          <div class="example">
            &nbsp;20%
          </div>
        </div>
        <div class="row">
          <div class="data">
            <strong>Cash Flow Net of Taxes</strong>
          </div>
          <div class="cell">
          $ {{ cashFlow.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $204,000
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Earnings Multiple
          </div>
          <div class="cell">
            {{ earningsMultiple }}&nbsp;
          </div>
          <div class="example">
            3.25
          </div>
        </div>
        <div class="row">
          <div class="data">
            Value based on Earnings Multiple
          </div>
          <div class="cell">
            ${{ valueEarnings.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $663,000
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Selling Price of the Business
            <br>
            <div class="slider">
              <vue-slider
                v-model.number="sellingPrice"
                :tooltip-formatter="(value) => '$ ' + value.toLocaleString('en-US')"
                tooltip="always"
                :min="0"
                :max="sales"
                :interval="5"
              ></vue-slider>
            </div>
          </div>
          <div class="cell">
            ${{ sellingPrice.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $1,200,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Working Capital
          </div>
          <div class="cell">
            ${{ workingCap.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $50,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Closing Fees
          </div>
          <div class="cell">
            ${{ closingFees.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $12,500
          </div>
        </div>
        <div class="row">
          <div class="data">
            SBA Fees
          </div>
          <div class="cell">
            ${{ guaranteeSBA.toLocaleString("en-US")  }}
          </div>
          <div class="example">
            $20,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Subtotal
          </div>
          <div class="cell">
            ${{ subtotal.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $1,282,500
          </div>
        </div>
        <div class="row">
          <div class="data">
            Down Payment by Buyer
            <br>
            <div class="slider">
              <vue-slider
                v-model.number="downpaymentPercent"
                :tooltip-formatter="'{value} %'"
                tooltip="always"
                :min="0"
                :max="100"
                :interval="1"
              ></vue-slider>
            </div>
          </div>
          <div class="cell">
            -${{ downpayment.toLocaleString("en-US") }}
          </div>
          <div class="example">
            -$128,250
          </div>
        </div>
        <div class="row">
          <div class="data">
            Loan Amount
          </div>
          <div class="cell">
            ${{ loanAmount.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $1,154,250
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Monthly Payment
          </div>
          <div class="cell">
            ${{ payment.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $12,814.54
          </div>
        </div>
        <div class="row">
          <div class="data">
            Annual Debt
          </div>
          <div class="cell">
            ${{ annualizedDebt.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $153,774.48
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Net Cash Flow
          </div>
          <div class="cell">
            ${{ cashFlow.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $204,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Buyer Personal Expenses to live
            <div class="slider">
              <vue-slider
                v-model="personalExpenses"
                :tooltip-formatter="(value) => '$ ' + value.toLocaleString('en-US')"
                tooltip="always"
                :min="0"
                :max="cashFlow"
                :interval="5"
              ></vue-slider>
            </div>
          </div>
          <div class="cell">
            ${{ personalExpenses.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $0
          </div>
        </div>
        <div class="row">
          <div class="data">
            Net Cash Flow to Service the Debt
          </div>
          <div class="cell">
            ${{ netCashDebt.toLocaleString("en-US") }}
          </div>
          <div class="example">
            $204,000
          </div>
        </div>
        <div class="row">
          <div class="data">
            Debt Coverage Ratio
          </div>
          <div class="cell">
            <span
              class="green"
              v-if="debtService >= 1.25"
            >
              {{ debtService }}
            </span>
            <span
              class="red"
              v-if="debtService < 1.25"
            >
              {{ debtService }}
            </span>
          </div>
          <div class="example">
            1.33
          </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
