<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <script src="script.js" defer></script>
    <link rel="stylesheet" href="style.css">
    <title>Exitus</title>
  </head>
  <body>
  <div class="sliders" id="app">
      <div class="title-card">
        Company:
        <input v-model="company" id="company">
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            {{ company }} sales (Finzap)
          </div>
          <div class="cell">
            $ {{ sales.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }} profits (Finzap)
          </div>
          <div class="cell">
            $ {{ profits.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }} Addbacks (Finzap)
          </div>
          <div class="cell">
            $ {{ addbacks.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            {{ company }}
            Seller's Discretionary Earnings
          </div>
          <div class="cell">
            $ {{ discretionary.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Taxes
          </div>
          <div class="cell">
          &nbsp;{{ percent(taxes) }}%
          </div>
        </div>
        <div class="row">
          <div class="data">
            <strong>Cash Flow Net of Taxes</strong>
          </div>
          <div class="cell">
          $ {{ cashFlow.toLocaleString("en-US") }}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
          Sales Multiple
          </div>
          <div class="cell">
          {{ salesMultiple }}&nbsp;
          </div>
        </div>
        <div class="row">
          <div class="data">
          Earnings Multiple
          </div>
          <div class="cell">
            {{ earningsMultiple }}&nbsp;
            </div>
        </div>
        <div class="row">
          <div class="data">
          Value based on Sales Multiple
          </div>
          <div class="cell">
          ${{ valueSales.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
          Value based on Earnings Multiple
          </div>
          <div class="cell">
          ${{ valueEarnings.toLocaleString("en-US") }}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Selling Price of the Business
            <br>
            <input
              v-model.number="sellingPrice"
              type="range"
              min="1"
              :max="1_000_000"
              class="slider"
            >
          </div>
          <div class="cell">
            ${{ sellingPrice.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Working Cap
          </div>
          <div class="cell">
            ${{ workingCap.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Closing Fees
          </div>
          <div class="cell">
            ${{ closingFees.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Guarantee SBA
          </div>
          <div class="cell">
            ${{ guaranteeSBA.toLocaleString("en-US")  }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Subtotal
          </div>
          <div class="cell">
            ${{ subtotal.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Down Payment by Buyer<br>
            <input
              v-model.number="downpaymentPercent"
              type="range"
              min="0"
              :max="100"
              class="slider"
            >
            </div>
          <div class="cell">
              ${{ downpayment.toLocaleString("en-US") }}
          </div>
          </div>
          <div class="row">
            <div class="data">
              Loan Amount
            </div>
            <div class="cell">
              ${{ loanAmount.toLocaleString("en-US") }}
            </div>
          </div>
        </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Monthly Payment
          </div>
          <div class="cell">
            ${{ payment.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Annualized Debt
          </div>
          <div class="cell">
            ${{ annualizedDebt.toLocaleString("en-US") }}
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="data">
            Net Cash Flow
          </div>
          <div class="cell">
            ${{ cashFlow.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Personal Expenses to live &nbsp;
            $<input
              v-model="personalExpenses"
              type="text"
            >
            <br>
            <input
                  v-model="personalExpenses"
                  type="range"
                  min="0"
                  :max="cashFlow"
                  class="slider"
            >
          </div>
          <div class="cell">
            ${{ personalExpenses.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Net Cash Flow to Service the Debt
          </div>
          <div class="cell">
            ${{ netCashDebt.toLocaleString("en-US") }}
          </div>
        </div>
        <div class="row">
          <div class="data">
            Debt Service
          </div>
          <div class="cell">
          <span
            class="green"
            v-if="debtService >= 1.25"
          >
          {{ debtService }}
          </span>
          <span
            class="red"
            v-if="debtService < 1.25"
          >
          {{ debtService }}
          </span>
          </div>
        </div>
      </div>
  </div>
  </body>
</html>
