.title-card {
    padding: 15px;
    border-radius: 6px;
    background-color: white;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 450px;
  }

  .card {
    display: block;
    border: 6px;
    margin: auto;
    border-radius: 2px;
    padding: 15px;
    background-color: #FFF;
    width: 450px;
  }

  .row,
  .cell {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .row:nth-of-type(even) {
    background-color: #cfd5f7;
  }

  .data {
    width: 300px;
    margin: 2px;
  }

  .cell {
    width: 100px;
    display: flex;
    align-items: center;
  }

  #company {
    margin: 0 0 23px 0;
  }

  input[type=text] {
    width: 75px;
  }

  .hidden {
    visibility: hidden;
  }

  progress {
    background-color: white;
    color: #2B388F;
  }

  progress:[value] {
    background-color: pink;
  }

  .green {
    color: green;
  }

  .red {
    color: red;
  }

  body {
    font-family: sans-serif;
  }

  .sliders {
    font-size: 15px;
  }

  #app {
    background-color: #2B388F;
  }

  /* upper and lower bounds of slider */
